.body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-snap-type: y mandatory;
}

img {
    /* width: 100%; */
}

.hide-desktop {
    display: none;
}

@media (max-width:450px) {
    .hide-mobile {
        display: none;
    }
    .hide-desktop {
        display: block;
    }
    /* img {
        width: 100%;
    } */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

header {
    scroll-snap-align: start;
    background: url(images/bg.jpg) center no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 100vh;
    color: #fff;
    /* overflow: hidden; */
}

.main-container {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

@media (max-width:450px) {
    header {
        background: url(images/bg.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    .main-container {
        max-width: 95%;
    }
}

nav {
    padding-top: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: .5em;
    font-size: 1.3rem;
    padding: .5em;
}

nav ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}

@media (max-width:450px) {
    nav ul li:last-child {
        margin-right: .5em;
        padding-right: .5em;
    }
}

.menuList {
    /* background-color: #fff; */
    background: url(images/menubg3.jpg) center no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(209, 147, 13, 0.466);
    height: 95vh;
    width: 100%;
    margin: auto;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: 0;
    z-index: 6;
    text-align: center;
    overflow: hidden;
}

.menuList ul {
    margin-top: 2em;
    flex-direction: column;
    align-content: center;
    color: rgb(83, 109, 13);
}

.menuList ul li {
    width: 80%;
    /* text-align: right; */
    /* margin: 1em, auto; */
    /* margin-top: 2em; */
    margin-bottom: 2em;
    color: #fff;
    font-weight: 900;
}

.menuList ul li:hover {
    background: rgba(255, 255, 255, 0.897);
    color: #000;
}

.menu-mobile {
    /* z-index: 10; */
}

.drop-down {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

.closeMenu {
    font-size: 3rem;
    position: absolute;
    right: 20px;
    top: 10px;
}

.intro {
    font-family: 'Segoe UI';
    position: absolute;
    /* border: 2px solid red; */
    transform: translate(84%, 74%);
    font-size: 2.5rem;
}

.intro span {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.social {
    text-align: center;
    position: absolute;
    left: 0;
    transform: translateY(250%);
    z-index: 10;
}

.social ul li {
    padding: .3em;
    background: #fff;
    align-items: center;
}

@media (max-width:450px) {
    .intro {
        transform: translate(0, 0);
        font-size: 2.5rem;
        transform: translate(15%, 80%);
    }
    .intro span {
        font-size: 4rem;
    }
    .social {
        transform: translateY(350%);
        /* bottom: 0; */
    }
}

.block {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    transform: translateY(-35%);
    /* bottom: 8rem; */
}

.block div {
    width: 35%;
    background-color: rgba(0, 255, 0, 0.2);
    padding: 2.5em;
}

.block div p {
    margin-top: 1em;
}

.tree {
    /* border: 2px solid red; */
    position: absolute;
    bottom: 0;
    right: 10rem;
}

@media (max-width:450px) {
    .block {
        flex-direction: column;
        position: relative;
        transform: translateY(50%);
        z-index: 20;
    }
    .block div {
        /* display: none; */
        width: 0%;
    }
}

.torso {
    scroll-snap-align: start;
    height: 100vh;
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 1rem;
}

.tree-image {
    width: 160%;
    overflow: hidden;
    position: sticky;
    bottom: 0;
    /* position: absolute;
    bottom: 0;
    z-index: 12; */
}

.content {
    max-width: 85%;
    margin: auto;
    padding-top: 6em;
}

.content div {
    background-color: rgba(0, 255, 0, 0.2);
    padding: 1em;
    margin-top: 1em;
}

@media (max-width:365px) {
    .content {
        padding-top: 1em;
    }
}

@media (max-width:320px) {
    .content {
        padding-top: 1em;
    }
    .content div {
        padding: .5em;
    }
}

.content div p {
    margin-top: 1em;
}

.tree2 {
    position: fixed;
    bottom: 0;
    /* z-index: 0; */
    /* border: 2px solid red; */
}

.tree2 img {
    width: 60%;
}